// Light theme (default)
$ch-cookie-consent-background-color: #fff !default;
$ch-cookie-consent-text-color: #000 !default;
$ch-cookie-consent-border-color: #000 !default;
$ch-cookie-consent-checkbox-inactive-background-color: #fff !default;
$ch-cookie-consent-checkbox-inactive-text-color: #223462 !default;
$ch-cookie-consent-checkbox-inactive-border-color: #223462 !default;
$ch-cookie-consent-checkbox-active-background-color: #223462 !default;
$ch-cookie-consent-checkbox-active-text-color: #fff !default;
$ch-cookie-consent-checkbox-active-border-color: #fff !default;
$ch-cookie-consent-button-background: #CF1E34 !default;
$ch-cookie-consent-button-text-color: #fff !default;
$ch-cookie-consent-secondary-button-background: transparent !default;
$ch-cookie-consent-secondary-button-text-color: #000 !default;
$ch-cookie-consent-secondary-button-border-color: #000 !default;

// Dark theme
$ch-cookie-consent-dark-theme-background-color: #000 !default;
$ch-cookie-consent-dark-theme-text-color: #fff !default;
$ch-cookie-consent-dark-theme-border-color: #fff !default;
$ch-cookie-consent-dark-theme-checkbox-inactive-background-color: #000 !default;
$ch-cookie-consent-dark-theme-checkbox-inactive-text-color: #fff !default;
$ch-cookie-consent-dark-theme-checkbox-inactive-border-color: #fff !default;
$ch-cookie-consent-dark-theme-checkbox-active-background-color: #fff !default;
$ch-cookie-consent-dark-theme-checkbox-active-text-color: #000 !default;
$ch-cookie-consent-dark-theme-checkbox-active-border-color: #000 !default;
$ch-cookie-consent-dark-theme-secondary-button-background: transparent !default;
$ch-cookie-consent-dark-theme-secondary-button-text-color: #fff !default;
$ch-cookie-consent-dark-theme-secondary-button-border-color: #fff !default;

@mixin check-icon-white ()  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23fff' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}
@mixin check-icon-black ()  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23000' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.ch-cookie-consent {
    background-color: $ch-cookie-consent-background-color;
    color: $ch-cookie-consent-text-color;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    z-index: 9999999999 !important;
    padding: 20px;
    position: fixed;

    .btn {
        padding: 0.45rem !important;
        &.btn-link {
            padding-right:0 !important;
            padding-left:0 !important;
        }
    }

    .form-check-disabled,
    .form-check-disabled * {
        cursor:default;
    }

    &--top-left {
        top:0;
        left:0;
    }
    &--top-right {
        top:0;
        right:0;
    }
    &--bottom-left {
        bottom:0;
        left:0;
    }
    &--bottom-right {
        bottom:0;
        right:0;
    }


    &__read-more {
        font-weight: bold;
        color: $ch-cookie-consent-text-color;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    &__form {
        margin-top: 20px;
        .form-check {
            padding-left: 0;
        }
    }

    .form-group {
        margin: 0;
    }

    &__intro {
        font-size: 14px;
        margin-bottom: 0;
    }


    &__category {
        border-top: 1px solid $ch-cookie-consent-border-color;
        padding: 12px 0;

        &-group {
            display: none;
            /*
            height: 74vh;
            overflow-y: auto;
            */
        }

        &-toggle {
            width: 100%;
            clear: both;
        }

        &-information {
            width: 100%;
        }

        &-toggle {
            display: flex;
            align-items: flex-start;

            input {
                opacity: 0;
                position: absolute;
                left: -10000px;
            }

            input + label {
                background-repeat: no-repeat;
                background-position: 45px center;
                background-color: $ch-cookie-consent-checkbox-inactive-background-color;
                color: $ch-cookie-consent-checkbox-inactive-text-color;
                border: 1px solid $ch-cookie-consent-checkbox-inactive-border-color;
                transition: all .2s;
                display: inline-block;
                margin-right: 15px;
                padding: 6px 28px 6px 10px;
                cursor: pointer;
                border-radius: 6px;
                width: 75px;

                &::before,
                &::after {
                    content: '';
                }
            }

            input:checked + label,
            input + label:hover {
                background-color: $ch-cookie-consent-checkbox-active-background-color;
                color: $ch-cookie-consent-checkbox-active-text-color;
                border-color: $ch-cookie-consent-checkbox-active-border-color;
            }

            input:checked + label {
                @include check-icon-white();
            }

            input:disabled + label,
            input:disabled + label:hover {
                background-color: $ch-cookie-consent-checkbox-active-text-color;
                color: grayscale($ch-cookie-consent-checkbox-inactive-text-color);
                border-color: grayscale($ch-cookie-consent-checkbox-inactive-border-color);
            }

            input:disabled:checked + label,
            input:disabled:checked + label:hover {
                background-color: grayscale($ch-cookie-consent-checkbox-active-background-color);
                color: $ch-cookie-consent-checkbox-active-text-color;
                border-color: grayscale($ch-cookie-consent-checkbox-inactive-border-color);
            }

        }

        &-title {
            color: $ch-cookie-consent-text-color;
            margin: 0 0 10px 0;
        }

        &-description {
            margin: 0;
            p {
                margin: 0;
                font-size: 14px;
            }
        }

        hr {
            margin: 8px 0;
            border-top: 1px solid $ch-cookie-consent-border-color;
        }

        table {
            margin: 0;
            &:first-child {
                margin-top: 10px;
            }
            th, td {
                font-size: 0.85rem;
                padding: 2px;
                vertical-align: top;
            }
            th {
                width: 100px;
            }
        }
    }

    &__toggle-cookie-information,
    &__toggle-cookie-information-show {
        display: inline-block;
    }

    &__category-description-details,
    &__toggle-cookie-information-hide {
        display: none;
    }

    &__toggle-details {
        cursor: pointer;

        &-hide, &-show {
            margin-top: 0 !important;
        }

        &-hide {
            display: none;
        }
    }

}

@media (min-width: 768px) {
    .ch-cookie-consent {
        width: 600px;
        max-height: 95vh;
        border-radius: .25rem;

        &--top-left {
            top:.75rem;
            left:.75rem;
        }
        &--top-right {
            top:.75rem;
            right:.75rem;
        }
        &--bottom-left {
            bottom:.75rem;
            left:.75rem;
        }
        &--bottom-right {
            bottom:.75rem;
            right:.75rem;
        }

    }
}

.ch-cookie-consent--dark-theme {
    background-color: $ch-cookie-consent-dark-theme-background-color;
    color: $ch-cookie-consent-dark-theme-text-color;

    .ch-cookie-consent {
        &__title,
        &__read-more  {
            color: $ch-cookie-consent-dark-theme-text-color;
        }

        &__category {
            border-color: $ch-cookie-consent-dark-theme-border-color;

            &-toggle {
                input + label {
                    background-color: $ch-cookie-consent-dark-theme-checkbox-inactive-background-color;
                    color: $ch-cookie-consent-dark-theme-checkbox-inactive-text-color;
                    border-color: $ch-cookie-consent-dark-theme-checkbox-inactive-border-color;
                }

                input:checked + label,
                input + label:hover {
                    background-color: $ch-cookie-consent-dark-theme-checkbox-active-background-color;
                    color: $ch-cookie-consent-dark-theme-checkbox-active-text-color;
                    border-color: $ch-cookie-consent-dark-theme-checkbox-active-border-color;
                }

                input:checked + label {
                    @include check-icon-black();
                }
            }

            &-title {
                color: $ch-cookie-consent-dark-theme-text-color;
            }
        }
    }
}

